[Unit]
Description=SSH Tunnel Service
After=network.target

[Service]
User=[local user]
ExecStart=/usr/bin/autossh -N -M 0 -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -R 49202:127.0.0.1:22 -i /home/[local user]/.ssh/[ssh-key] [remote user]@[ip address]
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target